# 1. Reset: Anggap SEMUA file di repo ini tidak perlu dihitung
* linguist-vendored

# 2. Whitelist: Hanya hitung file .dart di folder spesifik ini
app/Models/** -linguist-vendored
app/Helpers/** -linguist-vendored
app/Http/** -linguist-vendored
app/Providers/** -linguist-vendored
